<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="io.freshdroid.mymonzo.account">

    <dist:module
            dist:onDemand="false"
            dist:instant="false"
            dist:title="@string/feature_name_account">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application
            android:name="io.freshdroid.mymonzo.MyMonzoApplication"
            android:supportsRtl="true"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">



    </application>

</manifest>

