<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="io.freshdroid.mymonzo.transaction">

	<dist:module
			dist:onDemand="false"
			dist:instant="false"
			dist:title="@string/feature_name_transaction">
		<dist:fusing dist:include="true"/>
	</dist:module>

	<application
			android:name="io.freshdroid.mymonzo.MyMonzoApplication"
			android:supportsRtl="true"
			tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">


	</application>

</manifest>

